/* main을 통합할 떄 합칠 에정  */
.advantage {
  text-align: center;
  padding: 81px 0;
}

.advantage h2 {
  font-size: var(--font-xxl);
  margin-bottom: 70px;
  font-weight: 600;
}

.advantage-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;

  /* 자동 줄넘김 */
  flex-wrap: wrap;
}

.advantage-item {
  background-color: #D1D1D1;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.advantage-item > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-item .before {
  font-size: var(--font-lg);
  color: var(--block);
  font-weight: bold;
}

.advantage-item .after {
  background-color: #0AFE7E;
  flex-direction: column;
  color: var(--white);
  opacity: 0;
  gap: 20px;
}

.advantage-item .after p {
  font-size: var(--font-lg);
  font-weight: bold;
  line-height: 40px;
}

.advantage-item:not(:first-child) .after p:last-child {
  font-size: var(--font-md);
  color: #514F4F;
}

.advantage-item:hover .before{
  opacity: 0;
}

.advantage-item:hover .after{
  opacity: 1;
}

hr.line {
  border: none;

  width: 840px;
  height: 3px;

  background-color: #D1D1D1;

  position: relative;
}

hr.line:before {
  content: '';
  position: absolute;
  background-color: #D1D1D1;

  width: 10px;
  height: 10px;

  top: 50%;
  right: 100%;
  transform: translateY(-50%) rotate(45deg);
}

hr.line:after {
  content: '';
  position: absolute;
  background-color: #D1D1D1;

  width: 10px;
  height: 10px;

  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(45deg);
}