.advantage {
  text-align: center;
}

.advantage .title {
  font-size: var(--font-xxl);
  margin-bottom: 70px;
}

.advantage-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 1280px;
  margin: 0 auto;
}

.advantage-item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.advantage-item .before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  color: var(--black);
  font-weight: bold;
  opacity: 1;
  transition: 0.5s;
}

.advantage-item .after {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 20px;
  background-color: #0afe7e;
  color: var(--white);
  opacity: 0;
  gap: 15px;
}

.advantage-item .after p {
  margin: 0;
  font-size: var(--font-lg);
  font-weight: bold;
  line-height: 30px;
}

.advantage-item:first-child .after p{
    line-height: 40px;
}

.advantage-item:not(:first-child) .after p:last-child {
  font-size: var(--font-md);
  color: #514f4f;
}

.advantage-item:hover .before {
  opacity: 0;
}

.advantage-item:hover .after {
  opacity: 1;
}