.fixed-apply-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 624px;
  height: 81px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  margin-bottom: 15px;
}

.fixed-apply-button p {
  color: var(--white);
  font-weight: 500;
  margin-left: 47px;
}

.fixed-apply-button a {
  background: var(--light-blue);
  width: 180px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 0.25s;
}

.fixed-apply-button a:hover {
  background: #009dff;
  color: white;
}

.fixed-inquiry-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 30px 20px 0;
}

.fixed-inquiry-button img {
  width: 60px;
  height: 60px;
}
