.text-introduce {
  padding: 86px 0;
}

.text-introduce .title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-area p:first-of-type {
  font-size: var(--font-lg);
  color: var(--medium-gray);
  margin-bottom: 11px;
}

.text-introduce h2 {
  font-size: var(--font-xxl);
  font-weight: 600;
  margin-bottom: 20px;
}

.text-introduce .divide-line {
  width: 504px;
  height: 4px;
  background: var(--main-color);
  margin-bottom: 36px;
}

.title-area p:last-of-type {
  margin-bottom: 54px;
  color: var(--medium-gray);
  font-size: var(--font-md);
}

.text-introduce ul {
  display: flex;
  justify-content: center;
  gap: 77px;
}

.text-introduce ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  width: 300px;
  background: var(--serve-bg);
  border-radius: 15px;
  padding: 26px;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.5);
}

.text-introduce ul li > h3 {
  display: flex;
  gap: 10px;
  color: white;
  font-size: var(--font-lg);
  font-weight: 500;
  line-height: 29px;
}

.text-introduce ul li h3 img {
  width: 29px;
  height: 29px;
}

.text-introduce .course-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
  color: white;
}

.text-introduce .course-intro p:first-of-type {
  font-size: var(--font-lg);
  line-height: 28px;
  margin-bottom: 8px;
}

.text-introduce .course-intro p:nth-of-type(2) {
  font-weight: 300;
  font-size: var(--font-md);
  line-height: 23px;
  margin-bottom: 39px;
}

.text-introduce .course-intro p:last-of-type {
  font-weight: 300;
  font-size: var(--font-md);
  text-align: center;
  line-height: 23px;
}

.text-introduce .schedule-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 29px;
}

.text-introduce .schedule-intro h4 {
  font-size: var(--font-sm);
  font-weight: 600;
  line-height: 19px;
}

.text-introduce .schedule-intro h4:last-of-type {
  margin-top: 28px;
}

.text-introduce .schedule-intro p {
  font-size: var(--font-md);
  font-weight: 300;
  margin-top: 7px;
  line-height: 23px;
}

.tuition-intro {
  color: white;
  text-align: center;
}
.tuition-intro p:first-of-type {
  font-weight: 400;
  color: var(--medium-gray);
  text-decoration: line-through;
  margin: 11px 0 3px;
  line-height: 19px;
}
.tuition-intro p:nth-of-type(2) {
  font-size: var(--font-lg);
  margin-bottom: 14px;
  line-height: 28px;
}
.tuition-intro-divide {
  width: 200px;
  height: 3px;
  background-color: white;
  margin-bottom: 26px;
}
.tuition-intro p:last-of-type {
  font-size: var(--font-lg);
  margin-top: 18px;
}
